extends common/layout

block style
  link(rel='stylesheet', href='/styles/result.css')

block content
  section(class='container-fluid')
    table(class="table table-striped")
      thead
        tr
          th ワード
          th 検索数
      tbody
      - for (var key in data)
        tr
          td= key
          td= data[key]

block script
  script(type='text/javascript', src='/scripts/result.js')
