extends common/layout

block style
  link(rel="stylesheet", href="/styles/result.css")

block content
  section(class="container-fluid")
    table(class="table table-striped")
      thead
        tr
          th ワード
          th 検索流入数
      tbody
      - for (var i = 0; i < data.length; i++)
        tr
          td= data[i].word
          td= data[i].num

block script
  script(type="text/javascript", src="/scripts/result.js")
