@import 'public/src/components/bootstrap/css/bootstrap';

body {
  padding-top: 70px;
}

#drop-zone {
  border: 2px dashed #bbb;
  border-radius: 5px;
  padding: 150px 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #bbb;
}

#file-list {
  padding: 0;
  li {
    padding-bottom: 20px;
  }
}
